<div class="container">
<h2>{{ title }}</h2>
<div *ngIf="courses; else message">
<div class="row my-4">
    <div class="col-md-2">Filtrar por:</div>
    <div class="col-md-6">
        <input type="text" #filtro [(ngModel)]="textoFiltro">
        <span class="ms-2">{{ textoFiltro }}</span>
    </div>
    <div class="col-md-4">
        <button class="btn btn-primary" [routerLink]="['/courses/add']">Registrar curso</button>
    </div>
</div>

<table class="table" >
    <thead>
        <th>Nombre</th>
        <th>Descripción</th>
        <th>Fecha de lanzamiento</th>
        <th>Precio</th>
        <th>Calificación</th>
        <th>Portada</th>
        <th>Acciones</th>
    </thead>
    <tbody>
        <tr *ngFor="let course of courses">
            <td><img [src]="course.imageUrl" [alt]="course.name" (mouseover)="generateZoom($event)" class="d-block img-fluid" width="150"></td>
            <td>{{ course.name }}</td>
            <td>{{ course.description }}</td>
            <td>{{ course.startDate }}</td>
            <td>{{ course.price | currency }}</td>
            <td>{{ course.rating }}</td>
            <td>
                <!-- Escuchar los eventos personalizados edit y delete. -->
                <app-course-action [course]="course" (edit)="updateCourse($event)" (delete)="removeCourse($event)"></app-course-action>                
            </td>
        </tr>
    </tbody>
</table>
</div>
<ng-template #message>
    <p class="alert alert-info">En este momento no hay cursos disponibles</p>
</ng-template>
<div *ngIf="messageError">
    <p class="alert alert-info">{{ messageError }}</p>
</div>
</div>